<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% if (locals.title) { %>
  <meta name="og:site_name" content="mood tracker | <%= title %>">
  <title>mood tracker | <%= title %></title>
<% } else { %>
  <meta name="og:site_name" content="mood tracker">
  <title>mood tracker</title>
<% } %>
<link rel="stylesheet" href="/static/style/index.css">