<!DOCTYPE html>
<%
    locals.url = redirect_uri +'?' + (error ? `error=${error.code}&description=${error.message ?? ''}` : `code=${code}`)
%>
<html lang="en">
    <head>
    <%- include('../../partials/head') %>
        <meta http-equiv="refresh" content="2; url=<%= locals.url %>">
</head>
<body>
<main>
    <h1>Successfully authorized.</h1>
    <p>You are being redirected to the application. Please wait...</p>
    <hr/>
    <a href="<%= locals.url %>" class="gray"><p>[go directly]</p></a>
    </main>
</body>
</html>
