<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:site_name" content="mood tracker">
  <link rel="stylesheet" href="/static/style/index.css">
  <title>mood tracker | 404</title>
</head>
<body>
  <main>
    <h1 id="h">Page Not Found</h1>
    <p>You find yourself in a strange place.</p>
    <p>An eternal abyss, devoid of anything and everything.</p>
    <p>Nothing is nowhere. Nothing was never anywhere.</p>
    <p>That's why it's been everywhere.</p>
    <br>
    <a href="/"><p>[return]</p></a>
  </main>
  <script>
    h.onmouseenter=()=>h.textContent="P4g3 N0t F0und",
    h.onmouseleave=()=>h.textContent="Page Not Found"
  </script>
</body>
</html>