<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:description" content="mood tracker">
  <link rel="stylesheet" href="/static/style/index.css">
  <title>mood tracker | Privacy Policy</title>
</head>
<body>
  <!-- 
    This privacy policy is currently not released as its unfinished and describes some features that are not implemented yet.
  -->

  <main>
    <div class="view_header">
      <div><a href="/">mood tracker</a></div>
      <h1>Privacy Policy</h1>
    </div>
    <p>Last Update: 2023-08-01</p>
    <p></p>
    <section id="what">
      <h2>What is being stored?</h2>
      <p>We store the following data to provide access to the service:</p>
      <ul>
        <li>Your username</li>
        <li>The hash of your password using the bcrypt algorithm </li>
        <li>Your profile settings and privacy settings</li>
        <li>All your mood updates</li>
      </ul>
      <p>The data is stored indefinitely by default, but you can limit the amount of days the mood history is stored up to, or disable the history entirely.</p>
    </section>
    <section id="how">
      <h2>How is the data being used?</h2>
      <p>
        <ul>
          <li>Your username and the hashed password is used to provide basic access to the service, allowing you to authorize into your account and access it.</li>
          <li>Your settings are used to provide better experience with the service and customize data collection</li>
          <li>The history of your mood updates is stored to provide analytics about your mood which you can view on your profile. <br>
              Note: The history is analyzed locally but is stored on our side.</li>
          <li>Some of your data may also be accessed by others using our <a href="/docs">API</a>. <br>
              You can make your profile or metrics private in the settings, which will make them accessible only to you.</li>
        </ul>
      </p>
    </section>
    <section id="managing">
      <h2>Managing your data</h2>
      <p>
        You can clear or disable the mood history in your profile settings, or you can limit the amount of days the mood history is stored up to.<br>
        You can delete your account and we will immediately delete all the data associated with you.<br>
        You can download a JSON file containing all data we store about you in your profile settings
      </p>
    </section>
  </main>
</body>
</html>