<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:description" content="mood tracker">
  <link rel="stylesheet" href="/static/style/index.css">
  <title>mood tracker | Privacy Policy</title>
</head>
<body>
  <!-- !!! UNFINISHED !!! -->
  <main>
    <div class="view_header">
      <div><a href="/">mood tracker</a></div>
      <h1>Privacy Policy</h1>
    </div>
    <p><b>Warning:</b> this privacy policy tells about some features that are not implemented yet. This service is currently in early development. Sorry for any inconvenience!</p>
    <h2>What is being stored?</h2>
    <p>We store the following data to provide access to the service:</p>
    <ul>
      <li>Your username</li>
      <li>The hash of your password using the bcrypt algorithm </li>
      <li>Your profile settings and privacy settings</li>
      <li>All your mood updates</li>
    </ul>
    <h2>For how long?</h2>
    <p>
      The data is stored indefinitely by default, but you can limit the amount of days the mood history is stored up to, or disable the history entirely and store only the latest update.
      You can clear the mood history in your profile settings. <br>
      You can also delete your account and we will delete all data associated with you immediately.
    </p>
    <h2>How is the data being used?</h2>
    <p>
      Your username and the hashed password is used to provide basic access to the service, allowing you to authorize into your account and access it.<br>
      Your profile settings are used to provide better experience with the service and allow some customization of your profile.<br>
      Your privacy settings are used to determine what data to store about you.<br>
    </p>
  </main>
</body>
</html>