<!DOCTYPE html>
<html lang="en">
<head>
  <% locals.title = "400" %>
  <%- include('../partials/head') %>
</head>
<body>
  <main>
    <h1 id="h">Invalid Request</h1>
    <p style="max-width:560px"><%= error %></p>
    <br>
    <a href="/"><p>[return]</p></a>
  </main>
  <script>
    h.onmouseenter=()=>h.textContent="1nv4l1d R3qu3st";
    h.onmouseleave=()=>h.textContent="Invalid Request";
  </script>
</body>
</html>
