<!DOCTYPE html>
<html lang="en">
<head>
  <% locals.mood = "Login" %>
  <%- include('../partials/head') %>
</head>
<body>
  <main>
    <h1><a href="/">mood tracker</a></h1>
    <form action="/auth/login" method="post">
      <label for="username">Username</label>
      <input name="username" id="username" type="text" placeholder="Username" required>
      <label for="password">Password</label>
      <input name="password" id="password" type="password" placeholder="Password" required>
      <% if (locals.error) { %>
        <p style="color:#ee5858"><%= error %></p>
      <% } %>

      <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/auth/register">Create one</a></p>
  </main>
</body>
</html>