<!DOCTYPE html>
<html lang="en">
<head>
  <% locals.title = "Privacy Policy" %>
  <%- include('../partials/head') %>
</head>
<body>
  <main>
    <div class="view_header">
      <div><a href="/">mood tracker</a></div>
      <h1>Privacy Policy</h1>
    </div>
    <p>Last Update: <b>2023-08-08</b></p>
    <p>The following privacy policy is not active for now as it features the functionality that is not implemented in the service yet.</p>
    <hr>
    <section id="what">
      <h2>What information do we collect and how is it used?</h2>
      <p>We collect and store the following data to provide access to the service and improve user experience:</p>
      <ul>
        <li><b>Your username</b>: Used for basic access and identification purposes</li>
        <li><b>Hashed password</b> (using bcrypt): To securely authorize you into your account </li>
        <li><b>Profile settings and privacy settings</b>: To customize data collection and personalize the service</li>
        <li><b>Mood updates</b>: Stored to provide analytics and insights into your mood, which you can view on your profile. The history is analyzed locally, but the data is stored on our side</li>
        <li>Some data may be accessible through our API by others if they know your username and your profile is not private.</li>
      </ul>
      <p>The data is stored indefinitely by default, but you can limit the amount of days the mood history is stored up to in the profile settings (or disable the history entirely, storing only the current mood).</p>
    </section>
    <section id="managing">
      <h2>Managing your data</h2>
      <p>
        You can delete your account in the profile settings at any time and we will immediately delete all your data.
        There's also an option in the profile settings to clear all mood history.
        Additionally, you can download a JSON file containing all the data we store about you in your profile settings.
      </p>
    </section>
    <section id="third_party">
      <h2>Third-Party Access</h2>
      <p>While some of your data may be accessed from our API, we will never sell or share your data to anyone else.</p>
      <p>We allow third party developers to build certain features or other services and offer them within this service.</p>
      <p>Third party developers may access your current mood and the history if they know your username and your profile or mood history is public.</p>
      <p>
        You can also connect OAuth2 applications created by third party developers to your account.
        These apps may access some of your information even if your profile or mood history are private.
        You can deauthorize the connected applications at any time from your profile settings.
      </p>
      <p>But because these services are operated by third parties, we don't control them or what information they collect. It's up to you whether to engage with third-party services in general.</p>
    </section>
    <section id="cookies">
      <h2>Cookies</h2>
      <p>Our website uses cookies to keep you signed in.</p>
    </section>
    <section id="changes">
      <h2>Changes to our Privacy Policy</h2>
      <p>We may update this privacy policy from time to time. You can see the history of all privacy policy changes on our <a href="https://github.com/zptr1/mood-tracker">GitHub repository</a>.</p>
      <p>You are advised to review our Privacy Policy periodically for any changes. Such changes to our Privacy Policy are effective when they are posted on this page.</p>
    </section>
  </main>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
    section {
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      margin-bottom: 26px;
    }
    p, li { max-width: 700px; }
    p { margin-bottom: 16px; }
  </style>
</body>
</html>