@media screen and (max-width: 643px) {
  #moods {
    font-size: 0.9rem !important;
  }

  #moods > div > div {
    font-size: 0.9rem !important;
    width: 70px !important;
    height: 70px !important;
  }

  #dot {
    width: 0.8rem !important;
    height: 0.8rem !important;
  }

  .mood > span {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 500px) {
  #moods {
    font-size: 0.8rem !important;
  }

  #moods > div > div {
    font-size: 0.8rem !important;
    width: 60px !important;
    height: 60px !important;
  }
  
  .mood > span {
    font-size: 0.7rem !important;
  }
}