@import url(/static/style/adaptation.css);

@font-face {
  font-family: 'VT323';
  src: url(/static/font/VT323.ttf) format('truetype');
}

:root {
  --background: #1c1c1c;
  --secondary-background: #2c2c2c;
  --foreground: #fff;
  --secondary-foreground: #888;
  --color-1: #9b0b00;
  --color-2: #e64f22;
  --color-3: #fd5757;
  --color-4: #fe914b;
  --color-5: #febd59;
  --color-6: #ffde59;
  --color-7: #678ea8;
  --color-8: #84b2c8;
  --color-9: #cddde5;
  --color-10: #c3d194;
  --color-11: #a0ad7b;
  --color-12: #6c7b42;
  --font: 'VT323', monospace;
  --font-size: 1.2rem;
}

body, html {
  padding: 0;
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font);
  font-variant-ligatures: none;
  font-size: var(--font-size);
}

*, ::before, ::after {
  box-sizing: border-box;
}

::selection {
  background: var(--foreground);
  color: var(--background);
  background-clip: unset !important;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: var(--background) !important;
}

body {
  display: grid;
  justify-items: center;
  padding: 64px 0;
}

main {
  padding: 1em;
}

h1, h2, h3, ul, p {
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--secondary-foreground);
  user-select: none;
}

ul {
  margin: 10px 0;
  margin-left: 1.5em;
}

h2, h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

h1 a {
  text-decoration: none;
  color: var(--secondary-foreground);
}

h1 span {
  color: var(--foreground);
}

.view_header {
  user-select: none;
}

.view_header div {
  font-size: 0.9em;
}

html.unauthorized .mood {
  pointer-events: none;
}

button, input[type=submit] {
  width: 100%;
  display: block;
  font-family: var(--font);
  font-variant-ligatures: none;
  font-size: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--foreground);
  background: var(--secondary-background);
  border: 2px solid var(--secondary-foreground);
  margin: 8px 0;
  padding: 4px;
}

button:disabled, input[type=submit]:disabled {
  pointer-events: none;
  opacity: 0.5;
}

button:hover, input[type=submit]:hover,
button:focus, input[type=submit]:focus {
  border-color: var(--foreground);
}

button.danger, input[type=submit].danger {
  color: #fd5757;
  border-color: #fd5757;
}

button.danger:hover, input[type=submit].danger:hover,
button.danger:focus, input[type=submit].danger:focus {
  border-color: #ff9999;
  color: #ff9999;
}

.mood {
  position: relative;
  width: max-content;
  padding-left: 0.5em;
  font-size: 0.8em;
}

#moods {
  display: grid;
  user-select: none;
  cursor: crosshair;
  position: relative;
  overflow: hidden;
  width: fit-content;
  text-align: center;
  grid-auto-rows: max-content;
  width: max-content;
  gap: 0;
}

#moods > div {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 0;
}

#moods > div > div {
  width: 94px;
  height: 94px;
  background-color: var(--color);
  color: #000;
  display: grid;
  align-content: center;
  justify-content: center;
  border: 1px solid #000;
  word-break: break-word;
  text-align: center;
  line-height: .8em;
}

#dot {
  width: 1rem;
  height: 1rem;
  transform: translate(-50%, -50%);
  position: absolute;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: invert(1) blur(20px) brightness(150%);
  border: 2px solid black;
  border-radius: 100%;
  left: var(--left);
  top: var(--top);
}

.dot {
  width: 1rem;
  height: 1rem;
  transform: translate(-50%, -50%);
  position: absolute;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: invert(1) brightness(150%);
  border: 2px solid black;
  border-radius: 100%;
  left: var(--left);
  top: var(--top);
}

.mood > span {
  color: var(--secondary-foreground);
  display: inline-block;
  text-align: center;
  user-select: none;
  font-size: 0.9em;
  width: 100%;
}

.mood > span:first-of-type {
  position: absolute;
  transform: rotate(-90deg);
  padding-top: 0.5em;
  left: -50%;
  top: 45%;
}

label {
  user-select: none;
}

input[type=text], input[type=password] {
  width: 100%;
  font-family: var(--font);
  font-variant-ligatures: none;
  font-size: 1em;
  border: none;
  outline: none;
  color: var(--foreground);
  background: var(--secondary-background);
  border: 2px solid var(--secondary-foreground);
  margin: 8px 0;
  padding: 4px;
}

input[type=text]:hover, input[type=password]:hover,
input[type=text]:focus, input[type=password]:focus {
  border-color: var(--foreground);
}

input[type=text]:invalid {
  border-color: #ee5858;
}

.ss {
  color: var(--secondary-foreground);
}

a {
  color: var(--foreground);
  text-decoration-style: dashed;
}

a:hover {
  text-decoration-style: solid;
}

a.btn {
  text-decoration: none;
}

hr {
  padding: 0;
  margin: 24px 0;
  border: 1px solid var(--foreground);
}

@keyframes gradient {
  from {
    background-position-x: 100rem;
  }
  to {
    background-position-x: 0;
  }
}

.gradient {
  background-image: linear-gradient(90deg, var(--color-3), var(--color-4), var(--color-5), var(--color-4), var(--color-3));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 30s linear infinite;
  transition: .5s filter;
  text-decoration: none;
}

.gradient:hover {
  filter: invert(1) brightness(120%);
}

#status_error {
  max-width: 560px;
  margin-bottom: 0.5em;
  color: #ee5858;
}

#status_warn {
  max-width: 560px;
  margin-bottom: 0.5em;
  color: #ee9458;
}

#status_error ~ #status_warn {
  display: none;
}

#status_error:empty ~ #status_warn {
  display: block;
}

#status_error:empty, #status_warn:empty {
  margin: 0;
}

@keyframes target_flash {
  from {
    background-color: rgb(255, 222, 89, 0.3);
  }
  to {
    background-color: rgb(0, 0, 0, 0);
  }
}

:target {
  animation: target_flash 1s linear;
}

.username {
  color: var(--color-8);
}

.settings_nav {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  user-select: none;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 0;
}

.settings_nav li {
  padding: 0;
  margin: 0;
}

.settings_nav li a {
  padding: 10px 14px;
  margin: 0;
  text-decoration: none;
  border-bottom: 3px solid #444;
  transition: .2s border-color;
}

.settings_nav li:hover a {
  border-bottom-color: #888;
}

.settings_nav li.active a {
  border-bottom-color: #a8ceff;
}

.setting_container {
  margin-top: 30px;
  width: 568px;
}

.column_container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 8px;
}

.gray {
  color: var(--secondary-foreground);
}

.mood_chart_config {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  user-select: none;
  font-size: 0.8em;
  gap: 0
}

.mood_chart_config > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  gap: 0;
}

.mood_chart_config input {
  padding: 0;
  margin: 0;
}

.mood_chart_config > div > div {
  width: 94px;
  max-width: 94px;
  height: 94px;
  background-color: var(--color);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  color: #fff;
  display: grid;
  user-select: none;
  align-content: center;
  justify-content: center;
  border: 1px solid #000;
  word-break: break-word;
  text-align: center;
  font-size: 1em;
  outline: none;
  line-height: .8em;
}

.mood_chart_config input[type=color]:hover,
.mood_chart_config > div > div:focus,
.mood_chart_config > div > div:hover {
  outline: 1px solid #fff;
  border-color: #fff;
}

.mood_chart_config input[type=color] {
  border: 1px solid #000;
  outline: none;
  width: 100%;
}

.config_options_container {
  display: grid;
}

.config_options_container div {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 0.5em;
}

#hover_tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  transform: translate(-50%, -50%);
  transition: top .2s ease-out 0s, left .2s ease-out 0s, opacity .2s;
  opacity: 0;
  pointer-events: none;
  white-space: pre;
  z-index: 999;
  color: #fff;
  user-select: none;
  font-size: 1rem;
  padding: 8px;
}

.apps, .authorized_apps {
  padding: 2px;
  margin: 0;
  list-style: none;
  user-select: none;
}

.apps li, .authorized_apps > li {
  background-color: var(--secondary-background);
  border: 2px solid var(--secondary-foreground);
  padding: 8px;
  margin: 8px 0;
}

.apps li:hover, .apps li.active, .authorized_apps > li:hover {
  border-color: var(--foreground);
}

.app_name {
  cursor: pointer;
}

.app_id {
  display: none;
  color: var(--secondary-foreground);
}

.expand {
  display: none;
}

.apps li.active .expand {
  display: grid;
}

.apps li.active .app_id {
  display: inline-block;
}

.expand p {
  color: var(--secondary-foreground);
}

.app_id {
  user-select: all;
  cursor: pointer;
}

.permissions {
  padding: 0;
  margin: 0;
  list-style: none;
  color: var(--secondary-foreground);
}

.permissions li::before {
  content: "✔";
  color: #76bd61;
  margin: 0 .4em;
}

.app_create_btn {
  opacity: 0.5;
}

.authorized_apps div {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: 1fr max-content;
}

.authorized_apps div p {
  margin-left: 4px;
  padding: 6px 0;
}

.authorized_apps div button {
  margin: 0;
  padding: 4px 8px;
  display: none;
}

.authorized_apps li:hover div button {
  display: block;
}